<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="https://cdn-icons-png.flaticon.com/512/29/29302.png">
    <title>Take book - Book library</title>
    <link th:href="@{style.css}" rel="stylesheet"/>
</head>
<body>

    <header>
        <a href="/"><img alt="logo" class="logo" src="https://i.imgur.com/3qMLGEh.png" /></a>
    </header>

    <div class="container" style="text-align:center;">
        <h2>Take book from library</h2>
        <p>Please fill in all the reservation details<br>
            • 3 books maximum<br>
            • Period 1 - 60 allowed</p>

        <form action="#" th:action="@{/takebook}" method="post">
            <p>Person:<br><input type="text" name="reservation"/></p>
            <p>Period:<br><input type="text" name="reservation"/></p>
            <p>Book's GUID:<br><input type="text" name="reservation"/></p>
            <p><input type="submit" value="Take"/></p>
        </form>

        <p class="message">[[${message}]]</p>
        <a class="return" href="/"><button>» Return «</button></a>
    </div>

</body>
</html>